Source: tupi
Section: graphics
Priority: optional
Maintainer: Dmitry Smirnov <onlyjob@debian.org>
Build-Depends: debhelper (>= 9), ruby (>= 4.9), perl, qt4-qmake, pkg-config
 ,imagemagick ,rdfind ,symlinks
 ,qt4-linguist-tools
 ,qtmobility-dev
 ,libaspell-dev (>= 0.60.7~)
 ,libavformat-dev
 ,libavutil-dev
 ,libogg-dev
 ,libqt4-opengl-dev
 ,libquazip-dev
 ,libtheora-dev
 ,zlib1g-dev
Standards-Version: 3.9.5
Homepage: http://www.maefloresta.com/portal
Vcs-Git: git://anonscm.debian.org/collab-maint/tupi.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/tupi.git

Package: tupi
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}, tupi-data (= ${source:Version})
Replaces: ktoon
Description: 2D Animation design and authoring tool
 Tupi: 2D Magic is a design and authoring tool for digital artists interested
 in 2D Animation, offering an interface experience focused on 8-100 years old
 kids. It's source code is based on the KTooN project.
 .
 Some of its main features are: basic illustration tools (shapes, fill, text),
 gradient tools, onion skin, brushes editor, pencil with smoothness support,
 basic object library (for svg files and raster images) and many others.
 .
 Using its modules of Animation and Reproduction you can export 2D projects
 to several formats as OGG, MPEG, AVI, MOV and SWF. Additionally, the
 option of exporting Image arrays as output is available.

Package: tupi-data
Architecture: all
Depends: ${misc:Depends}
Replaces: tupi (<< 0.2+git02-1)
Breaks: tupi (<< 0.2+git02-1)
Description: Data files for tupi (2D Animation design and authoring tool)
 Tupi: 2D Magic is a design and authoring tool for digital artists interested
 in 2D Animation, offering an interface experience focused on 8-100 years old
 kids. It's source code is based on the KTooN project.
 .
 Some of its main features are: basic illustration tools (shapes, fill, text),
 gradient tools, onion skin, brushes editor, pencil with smoothness support,
 basic object library (for svg files and raster images) and many others.
 .
 Using its modules of Animation and Reproduction you can export 2D projects
 to several formats as OGG, MPEG, AVI, MOV and SWF. Additionally, the
 option of exporting Image arrays as output is available.
 .
 This package contains tupi's arch-independent files.

Package: tupi-dbg
Section: debug
Priority: extra
Architecture: any
Depends: tupi (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for tupi (2D Animation design and authoring tool)
 Tupi: 2D Magic is a design and authoring tool for digital artists interested
 in 2D Animation, offering an interface experience focused on 8-100 years old
 kids. It's source code is based on the KTooN project.
 .
 Some of its main features are: basic illustration tools (shapes, fill, text),
 gradient tools, onion skin, brushes editor, pencil with smoothness support,
 basic object library (for svg files and raster images) and many others.
 .
 Using its modules of Animation and Reproduction you can export 2D projects
 to several formats as OGG, MPEG, AVI, MOV and SWF. Additionally, the
 option of exporting Image arrays as output is available.
 .
 This package contains debugging symbols needed for debugging tupi.

#Package: tupi-dev
#Section: devel
#Architecture: all
#Depends: ${misc:Depends}
#Description: Development files for tupi (2D Animation design and authoring tool)
# Tupi: 2D Magic is a design and authoring tool for digital artists interested
# in 2D Animation, offering an interface experience focused on 8-100 years old
# kids. It's source code is based on the KTooN project.
# .
# Some of its main features are: basic illustration tools (shapes, fill, text),
# gradient tools, onion skin, brushes editor, pencil with smoothness support,
# basic object library (for svg files and raster images) and many others.
# .
# Using its modules of Animation and Reproduction you can export 2D projects
# to several formats as OGG, MPEG, AVI, MOV and SWF. Additionally, the
# option of exporting Image arrays as output is available.
# .
# This package contains development files
